doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width')
        //build:css css/vendors.css
        // bower:css
        // endbower
        //endbuild
        link(rel="stylesheet" href="css/main.css")
        block title
    body
        .page-wrapper
            header.header
            block page
        footer.footer
        //build:js js/vendors.js
        // bower:js
        // endbower
        //endbuild
        script(src="js/main.js")
